

article h2 {
	font-family: 'Croissant One', cursive;
	font-size:3.125em; 
	margin-top:10%; 
	margin-left:5%; 
	margin-bottom:25px;
	line-height: 1.125em;
	}

.story { 
	font-family: 'Merriweather Sans', sans-serif;
	height: 1000px; 
	padding: 0; 
	margin: 0; 
	width: 100%; 
	position: relative; 
	margin: 0 auto; 
	border-top: 1px solid rgba(255,255,255,0.3); 
	border-bottom: 1px solid rgba(0,0,0,0.4); 
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
	}
ul.social {
	list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
	}
ul.social li {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: 20px 5px;
  vertical-align: top;
}
ul.social li a {
	display:block;
	float:left; 
	margin:0 15px; 
	font-family:Arial; 
	font-size:12px; 
	display:inline-block; 
	width: 45px; 
	height:45px; 
	padding-top:50px; 
	text-indent: -9999px;
	}
ul.social li a.dribble {
	background: url(../images/icon_dribbble.png) top left no-repeat;}
ul.social li a.behance {
	background: url(../images/icon_behance.png) top left no-repeat;}
ul.social li a.twitter {
	background: url(../images/icon_twitter.png) top left no-repeat;}
ul.social li a.instagram {
	background: url(../images/icon_instagram.png) top left no-repeat;}	
ul.social li a.mail {
	background: url(../images/icon_mail.png) top left no-repeat;}	
ul.social li a:hover {
	background-position:top right; color:red; visibility:visible; text-indent:0}

#first { background:url(../images/bgImg.jpg) 50% 0 no-repeat fixed; height:660px; }
#second { background:rgba(252,231,216,1.00) 50% 0 no-repeat fixed; height:600px; }
#third { background: rgba(219,235,233,1.00)50% 0 no-repeat fixed; height:600px; }
#fourth { background:rgba(115,204,215,1.00) 50% 0 no-repeat fixed; height:600px;}

/* Introduction */
#first .kdlogo { 
	background: url(../images/logo1.png) 50% 80px no-repeat fixed; 
	min-height: 1000px; 
	padding: 0; 
	margin: 0; 
	width: 100%; 
	max-width: 1920px; 
	position: relative; 
	margin: 0 auto; 
	}

#first article { 
	width: 100%; 
	top: 400px; 
	position: absolute; 
	text-align: center; 
	}
#first article p,
#first article a { 
	color: #ccc; 
	}
#first article a { 
	text-decoration: none; 
	}
#first article a:hover { 
	color: #fff; 
	}




#media{
	margin-left:5px;
	margin-right:5px;
	margin-bottom:10px;
	}


	
/* Background Only */
#second { 
	padding: 50px 0;
	}
#second article { 
	width: 630px; 
	margin-right:auto;
	margin-left:auto;
	margin-top: 180px; 
	line-height: 1.5em; 
	font-size:1.25em; 
	color:#6d6e70; 
	}
#second article p { 
	margin: 2%; 
	margin-bottom:10%;  
	}


/* Photograph */
#third article {    
	width: 300px; 
	margin: 5% 0 0 65%; 
	line-height: 1.5em; 
	position: absolute; 
	top: 0;
	color:#6d6e70; 
 
	}
#third article p { 
	margin: 2%; 
	margin-bottom:10%;  
	}


#fourth article {   
	width: 300px; 
	margin-left: 15%; 
	margin-top:50px;  
	line-height: 1.5em; 
	position: absolute; 
	top: 60px;
	color:#6d6e70; 
 
	}
#fourth article p { 
	margin: 2%; 
	margin-bottom:10%; 
	}

a{
	text-decoration:none;
	}

	
/*smaller resolution-------------*/
@media screen and (max-width: 650px) {


ul.social li a {
  display: block;
  width: 30px;
  height: 30px;
}



	
	#second {
		padding: 0;
		background-size:auto; 
		}
	#second article {
		margin-left:10%;
		width:80%;
		margin-right:5%;
		margin-top:25%
		}
	#third {
		padding: 0; 
		}
	#third article {
		margin-left:10%;
		width:80%;
		margin-top:30%;
		margin-right:5%;
		}
	#fourth {
		padding: 0; 
		}
	#fourth article {
		margin-top:0%;
		margin-left:10%;
		width:80%;
		margin-right:5%;
		}
		
	


